<div class="container">
 <h1 class="my-4">病院情報</h1>

  <div class="row">
      <div class="col-md-6">
        <div class="card col-6">
          <div class="card-body">
            <h5 class="card-title bg-light">病院名</h5>
            <p class="card-text"><%= current_hospital.name %></p>
            </div>
          </div>
        </div>
      </div>
<table>
  
  <div class="my-4">
    <h2 class="mb-3">診療科一覧</h2>

    <table class="table table-striped">
  <tr>
    <th>待ち時間</th>
    <th>診療科</th>
  </tr>
<% @medical_departments.each do |medical_department| %>
  <tr>
    <td><%= medical_department.wait_time %></td>
    <td><%= medical_department.name %></td>
   
    <td>
     <% if medical_department.medical_appointments_users.length > 0 %>
    <%= link_to '呼び出しボタン', hospitals_medical_department_path(medical_department.id) %>
    <% end %>
    </td>
    <td><%= link_to '編集する', edit_hospitals_medical_department_path(medical_department.id) %></td>
    <td><%= link_to '削除する', hospitals_medical_department_path(medical_department.id), method: :delete, data: { confirm: '削除しても良いですか？' } %></td> 
  
  </tr>
<% end %>
</table>
