<div class="text-center mt-5">
<h2>患者様用ログイン</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.hidden_field :authenticity_token, value: form_authenticity_token %>
  <div class="field">
    <%= f.label :メール %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :記憶する %>
    </div>
  <% end %>

  <div class="actions" class="btn btn-warning">
    <%= f.submit "ログイン", class: "btn btn-warning" %>
  </div>
<% end %>

<br>
<%= button_to "患者様用ゲストログイン", users_guest_sign_in_path, method: :post %>
<%= button_to "管理者ログイン", users_admin_guest_sign_in_path, method: :post %>


<br>
<%
=begin%>
 <%= link_to "Sign in with LINE", user_line_omniauth_authorize_path %> 
<%
=end%>
<%= render "users/shared/links" %>
</div>