    <% if current_user.try(:admin?) %>
      <%= link_to '管理者画面', rails_admin_path%>
    <% end %>

 <div class="text-center mt-5">
<%
=begin%>
 <P><%= current_user.name %>様のページ</p> 
<%
=end%>
<%= month_calendar do |date| %>
  <%= date %>
<% end %>

<p><%= link_to '受付完了ページへ', mains_path %></p>
<h1>病院検索</h1>
<table class="table table-striped">
<tr>
<th>病院名</th>
</tr>
  <%= form_with(url: tops_path, local: true,   scope: :hospital, method: :get) do |f| %>
    <div class="title_name">
      <%= f.label "病院名" %>
      <%= f.text_field :name, class:"rform-control", placeholder:'病院名を入れて下さい' %>

    </div><br>
    <%= f.submit "検索" %>
  <% end %>

  <% @hospitals.each do |hospital|%>
    <td><%= link_to hospital.name, hospital_path(hospital) %></td>
  <% end %>
  </table>
</div>







