<% if user_signed_in? %>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "ログイン", new_user_session_path %>
<% end %>
<P><%= current_user.name %>様のページ</p>
<h1>病院検索</h1>

<%= form_with(url: tops_path, local: true,   scope: :hospital, method: :get) do |f| %>
  <div class="title_name">
    <%= f.label "病院名" %>
    <%= f.text_field :name, class:"rform-control" %>

 <%= f.collection_select :name, MedicalDepartment.all, :name, :name, prompt: "診療科を選択して下さい" %>  

  </div><br>
  <%= f.submit "検索" %>
<% end %>

<% @hospitals.each do |h|%>
  <td><%= h.name %></td>
  


 <% @users.each do |d|%>  

<%= d.name %>

<% end %>
<% end %>







