<div class="col-md-12 text-center">
<%= link_to "ユーザー新規登録画面", new_user_registration_path %>

<%= link_to "ユーザーログイン", new_user_session_path%>

<%= link_to "ユーザーゲストログイン", new_user_session_path %>

<%= link_to "管理者用ゲストログイン", new_user_session_path %>

<%= link_to "病院様用新規登録画面", new_hospital_registration_path %>

<%= link_to "病院様用ログイン", new_hospital_session_path %>

<%= link_to "病院様用ゲストログイン", new_hospital_session_path %>
</div> 

<div class="col-md-12 text-center">
  <p>本アプリはログインし、病院検索をして下さい。</p>
  <br>
  <p>その後、診療科を選択して頂き、受付ボタンを押して受付完了となります。</p>
  <br>
  <p>受付後のメインページにて待ち人数、およその待ち時間をお知らせします。</p>
  <br>
  <p>病院様は診療科と、時間の設定をお願いします。</p>
  <br>
  <p>その後、診療科に入室して頂き、呼び出しボタンにて患者様をお呼びください。</p>
</div>