<div class="container mt-5">
<% if user_signed_in? %>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "ログイン", new_user_session_path %>
<% end %>
<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th scope="col">お名前</th>
      <th scope="col">診療科名</th>
      <th scope="col">受付人数</th>
      <th scope="col">待ち時間</th>
      <th scope="col">待ち人数</th>
    </tr>


  <% current_user.medical_appointments.each do |appointment| %>
    <td><% department = appointment.medical_department %></td>
<tr>
    <td><%= current_user.name %>様</td>
    <td><%= department.name %></td>
    <td><% MedicalAppointment.where(medical_department_id: department.id).count%></td>
    <% my_appoint_at = appointment.created_at%>
 
  <%
=begin%>
 <% my_appoint_at = current_user.medical_appointments.find_by(medical_department_id: department.id).created_at%>  
<%
=end%>
  
    <% appoints_at = department.medical_appointments.pluck(:created_at) %>
   
    <%
=begin%>
 <% appoints_at = MedicalAppointment.where(medical_department_id: department.id).pluck(:created_at) %>  
<%
=end%>

    <% wait_people = appoints_at.select{|appoint| appoint < my_appoint_at}.count %> 
    <% wait_time = wait_people * department.wait_time %>
    <td><%= wait_time %>分</td> 
    <td><%= "待ち人数：#{wait_people}人" %></td> 

<% end %>
</tr>
</table>
<%= link_to '戻る', tops_path %>
</diV>