<% if user_signed_in? %>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "ログイン", new_user_session_path %>
<% end %>

<table>
<tr>
<th>お名前</th>
<th>診療科名</th>
<th>受付人数</th>
</tr>


<td><%= current_user.name %>様</td>
<%  @appoint_departments.each do |department| %>
<tr>
  <td><%= department.name %></td>
  
  <td><% MedicalAppointment.where(medical_department_id: department.id).count%></td>
  <% my_appoint_at = current_user.medical_appointments.find_by(medical_department_id: department.id).created_at%>
  <% appoints_at = MedicalAppointment.where(medical_department_id: department.id).pluck(:created_at) %>
  <% wait_people = appoints_at.select{|appoint| appoint < my_appoint_at}.count %> 

 <td><%= "待ち人数：#{wait_people}人" %></td> 
 <td><%= wait_people * department.wait_time %>分</td>
 <%
=begin%>
 <%= "待ち人数：#{appoints_at.find_index(my_appoint_at)}人" %>  
<%
=end%>

<% end %>
</tr>
</table>