<div class="col-md-12 text-center" style="margin: 0;">
  <h3>受付完了</h3>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th scope="col">お名前</th>
      <th scope="col">病院名</th>
      <th scope="col">診療科名</th>
      <th scope="col">待ち時間</th>
      <th scope="col">待ち人数</th>
    </tr>


  <% current_user.medical_appointments.each do |appointment| %>
    <td><% department = appointment.medical_department %></td>
<tr>
    <td><%= current_user.name %>様</td>
    <td><%= appointment.medical_department.hospital.name %></td>
    <td><%= appointment.medical_department.name %></td>
    
    <% department_appointments = appointment.medical_department.medical_appointments %>
    <% wait_people = department_appointments.count { |a| a.created_at <= appointment.created_at } %>
    <% wait_time = wait_people * appointment.medical_department.wait_time %>
    <td><%= wait_people > 0 ? "#{wait_time}分" : "0分" %></td>
    <td><%= "待ち人数：#{wait_people}人" %></td>
</tr>
<% end %>
</table>
<%= link_to '戻る', tops_path %>
</diV>