<div class="col-md-12 text-center">
<%= form_with(model: @medical_department, url: hospitals_medical_departments_path, local: true ) do |form| %>
  <% if @medical_department.errors.any? %>
    <div id="error_explanation">
      <h2><%= @medical_department.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @medical_department.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= select_tag :wait_time, options_for_select([["5分", 5],["10分", 10],["15分", 15]]) %>
  </div>
  <div>
    <%= form.label :"診療科" %>
    <%= form.text_field :name, placeholder: '小児科' %>
  </div> 
  <%= form.submit %>
<% end %>
<%= link_to '病院情報へ', medical_departments_path %>
</div>