<h1>診療科情報</h1>
<p>診療科名: <%= @medical_department.name %></p>
<%
=begin%>
 
 <% @medical_department.medical_appointments_users.each do |user| %>
 <div><%= user.name %></div>
<% end %>  
<%
=end%>
<% total_appointments_count = @medical_department.medical_appointments.count %>
<% my_appointment = current_user.medical_appointments.find_by(medical_department_id: @medical_department.id) %>
<% my_appointment_position = @medical_department.medical_appointments.order(created_at: :asc).pluck(:user_id).index(current_user.id) %>
<div id="wait-info">
  <% if total_appointments_count > 0 %>
    <% wait_people = my_appointment_position.present? ? my_appointment_position + 1 : total_appointments_count %>
    <% wait_time = wait_people * @medical_department.wait_time %>
    <% message = "待ち人数：#{wait_people}人、予想待ち時間：#{wait_time}分" %>
    <%= message %>
  <% else %>
    <p>現在、診察待ちの患者はいません。</p>
  <% end %>
</div>

<audio id="call_audio">
  <source src="/../packs/audio/call.mp3" type="audio/mp3">
</audio>

<h2>呼び出しボタン</h2>
<% if @medical_department.medical_appointments.exists? %>
   <%= link_to '呼び出し', medical_appointment_path(@medical_department.medical_appointments.first), method: :delete, id: 'call-btn' %>  
<% else %>
  <p>現在、診察待ちの患者はいません。</p>
<% end %>

<div id="wait-info">
  <% appointments = @medical_department.medical_appointments.order(created_at: :asc) %>
  <%
=begin%>
 <% wait_people = appointments.index { |appointment| appointment.user_id == current_user.id } || @medical_department.medical_appointments.count %> 
<%
=end%>
  <%
=begin%>
 <% wait_time = wait_people * @medical_department.wait_time %>
  <% message = "待ち人数：" + wait_people.to_s + "人、予想待ち時間：" + wait_time.to_s + "分" %>
  <%= message %>
</div>  
<%
=end%>

<%= javascript_include_tag 'medical_appointments', 'call_audio' %>


<%= link_to '戻る', medical_departments_path %>


