<!DOCTYPE html>
<html>
  <head>
    <title>OriginalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
<div class="col-md-12 text-center">
   <p style="font-size: 20px;">HOORN -hospital order numberinf notice-</p>
</div>
  </head>

 
  
 <header>
    <% if current_user.try(:admin?) %>
      <%= link_to '管理者画面', rails_admin_path%>
    <% end %>
    <div class="col-md-12 text-center">
    <% if user_signed_in? || hospital_signed_in? %>
      <% if user_signed_in? %>
        <%= link_to 'ユーザー用ログアウト', destroy_user_session_path, method: :delete %>
      <% end %>
    <% if hospital_signed_in? %>
      <%= link_to '病院用ログアウト', destroy_hospital_session_path, method: :delete %>
    <% end %>
    <% else %>
      <%= link_to "ユーザー新規登録画面", new_user_registration_path %>

      <%= link_to "ユーザーログイン", new_user_session_path%>

      <%= link_to "病院様用新規登録画面", new_hospital_registration_path %>
      

      <%= link_to "病院様用ログイン", new_hospital_session_path %>
    </div>
    <% end %>
  </header> 




  <body>
  <div class="row justify-content-center">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <div class="position-relative">
    <%= yield %>
  </div>
  <footer class="posision-absolute">
  <div class="text-center p-3 mt-2 text-light">
        <P>HOORN -hospital order numbering notice-</p>
      </div>
  </footer>
  </body>
</html>
